html {
    background-color: #F9F5EB;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #E4DCCF;
    padding: 0 20px 20px 20px;
    border: 5px solid #EA5455;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #002B5B;
    text-shadow: 3px 3px 10px black;
}

img {
    display: block;
    margin: 0 auto;
}